body {
  /* Margin bottom for breathing room */
  margin-bottom: 60px;
}

.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding:12px 8px;
}

.sq_o_button b.caret {
	margin-left:5px;
}

#search-results-csv {
	margin-right:25px;
}

.text-danger {
    color:#D9534F;
}

.text-warning {
  color:#F0AD4E;
}

.label-future {
  color: rgb(92, 184, 92);
  background-color: rgb(234, 246, 234);
}
